<%= render 'pages/home' unless user_signed_in? %>
<header>
  <br><center><h1> Welcome to the Pin Board!</h1></center></br>
  </header>

<div id="pins" class="transitions-enabled">
  
  <% @pins.each do |pin| %>
    <div class="box panel panel-default">
        <%= link_to image_tag(pin.image.url(:medium)), pin %>
        <div class="panel-body">
          <%= pin.description %>
          <%= pin.user.email if pin.user %>
          <% if pin.user == current_user%>
          <div class= actions><p>
            <%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>Edit'), edit_pin_path(pin) %>
            <%= link_to raw('<span class="glyphicon glyphicon-remove"></span> Remove') , pin, method: :delete, data: { confirm: 'Are you sure?' } %></P>
          </div>
          <%end%>
        </div>  
    </div>
<%end%> 
</div>
<div class=center>
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>

